<div class="row">
  <div class="show_colors">
  <%for color in @colors%>
    <a href="/color/<%=color.id%>">
      <div style="margin:2px;border-radius:50%;width:20px;height:20px;float:left;background-color:#<%=color.hex%>">
      </div>
    </a>
  <%end%>
</div>
</div>

