<div class="search">
  <%= form_for(:url, url: url_index_path) do |f| %>
    <%= f.text_field :url, class: 'form-control', placeholder: 'your url here...', autofocus: true%>
  <%end%>
</div>
<%=@hello%>

