/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

body{
  font-family: 'Open Sans', 'sans-serif';
  margin: 0;
  padding: 0;
  border-top: 5px solid #8cc;
}

h1,h2,h3,h4,h5,h6{
  font-weight: 300;
  margin-top: 0.4em;
  margin-bottom: 0.4em;
}

a, a:visited{
  text-decoration: none;
  color: black;
}

h6>a:hover{
  background-color: #8cc;
  color:white;
  /*padding-left: 5px;
  padding-right: 5px;*/
}

.container{
  padding: 30px;
  min-height: 680px;
}

.color_index{
  width:120px;
  height:25px;
  background-color: #8cc;
  position: absolute;
  right:100px;
  top:0;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  text-align: center;
  padding:2px;
}

.color_index a:hover{
  color:white !important;
}

h1{
  font-family: 'Megrim', 'cursive';
}

h1.logo{
  font-size:80px;
}

h1.logo_sm{
  font-size:30px;
  font-weight: bold;
}

.title{
  width: 100%;
  text-align: center;
  padding-bottom: 40px;
}

.title_sm{
  width: 100%;
  text-align: center;
  padding-bottom: 10px;
}

.search{
  width: 100%;
  text-align: center;
}

.search input{
  width:calc(100% - 20px);
  max-width: 700px;
  font-size: 18px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ddd;
  font-family: 'Open Sans', 'sans-serif';
  font-weight: 300;
}

.search select{
  width: 200px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ddd;
  font-family: 'Open Sans', 'sans-serif';
  font-weight: 300;
  font-size: 18px;
  background: url(/assets/arrow.png) no-repeat right transparent;
  -webkit-appearance: none;
}

.search_bar:focus {
  outline: none; 
}

.top_colors{
  width: 100%;
  max-width:1000px;
  margin: 0 auto;
  text-align: center;
  margin-top: 50px;
  display:table;
}

.row{
  width:100%;
  display:table;
}

.show_colors{
  padding-top: 60px;
}

.color_show{
  max-width: 1000px;
  padding-top: 80px;
  width:100%;
  margin: 0 auto;
}

.color_details{
  max-width: 1000px;
  padding-top: 20px;
  width:100%;
  margin: 0 auto;
}

.color_description{
  float:left;
  padding:10px;
  margin-left: 10px;

}

.color_urls{
  float:right;
  padding:10px;
  margin-left: 10px;

}

.two_columns{
  margin:0;
  padding:0;
  columns: 4;
  -webkit-columns: 4;
  -moz-columns: 4;
}

.spectrum:hover{
  border:4px solid gray !important;
  margin-bottom: 0 !important;
}

.submit_button{
  width:40px !important;
  background-color: #8cc;
  border-bottom: 2px solid #399 !important;
  cursor: pointer;
}

.submit_button:hover{
  background-color: #cee;
  border-bottom: 2px solid #8cc !important;
  cursor: pointer;
}

.footer{
  width:100%;
  height:50px;
  background-color: #8cc;
  padding:10px;
  color:white;
}